<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/main.css')}}">
<body>
<a class="camera-warning">Please provide camera access!</a>
<video class="video-preview"></video>
<div class="action-buttons-container">
        <div class="scan">
            <button class="scan-button"></button>
            <small class="button-description">Scan</small>
        </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="{{ url_for('static', filename='scripts/main.js')}}"></script>
</html>