<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" media="all" href="{{ url_for('static', filename='styles/main.css')}}">
<body>
<div class="form-div">
    <form action="{{ url_for('keyboard_decode_post') }}" method="post">
        <div class="create-code-form-padding">
            <a class="main-text create-code-char-code">*Enter the code line by line from left to right!</a>
            <b class="main-text create-code">Decode using keyboard:</b>
            <div style="padding-top: 18rem;">
                <img style="width:36rem;text-align:center;display:block;margin-left:auto;margin-right:auto;border: 6px solid #1a1a1a;"
                     src="{{ url_for('static', filename='icons/keyboard-decode-helper.png')}}"></h3>
            </div>
            <div id="code-id-div" class="create-code keyboard-decode-div">
                <input class="create-code sub-data-input" type="text" id="keyboard-decode-in" name="keyboard-decode-in"
                       minlength="16" maxlength="16" placeholder="Enter the code you wanna decode:"/>
            </div>
        </div>
        <div class="keyboard-div">
            <div class="keyboard-row">
                <div class="piece-button">
                    <a class="piece-text">A</a>
                    <img class="keyboard-piece-icon"
                         style="background-image: url('/static/icons/geom-original/circle.png')"/>
                </div>
                <div class="piece-button">B</div>
                <div class="piece-button">C</div>
                <div class="piece-button">D</div>
            </div>
            <div class="row-break"></div>
            <div class="keyboard-row">
                <div class="piece-button">E</div>
                <div class="piece-button">F</div>
                <div class="piece-button">G</div>
                <div class="piece-button">H</div>
            </div>
            <div class="row-break"></div>

            <div class="keyboard-row">
                <div class="piece-button">I</div>
                <div class="piece-button">J</div>
                <div class="piece-button">K</div>
                <div class="piece-button">L</div>
            </div>
            <div class="row-break"></div>

            <div class="keyboard-row">
                <div class="piece-button">M</div>
                <div class="piece-button">N</div>
                <div class="piece-button">O</div>
                <div class="piece-button">P</div>
            </div>
        </div>
        <div class="create-code-buttons">
            <div class="scan-button-container-create-code">
                <div class="button-container">
                    <button class="scan-button-create-code" id="scan-button"
                            onclick="window.location.href = '/';" type="button"></button>
                    <small class="button-description">Home</small>
                </div>
            </div>
            <div class="add-button-container-create-code">
                <div class="button-container">
                    <button class="add-button-create-code" id="add-button" type="submit"></button>
                    <small class="button-description">Submit</small>
                </div>
            </div>

        </div>
    </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="{{ url_for('static', filename='js-static/create-element.js')}}"></script>
</html>