body {
    background: #FFCC00 no-repeat center center; /* add error background for camera */
    background-size: cover;
}

.video-preview {
    /* Make video to at least 100% wide and tall */
    /* Center the video */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.camera-warning {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-family: Calibri;
    font-size: 3vw;
}

.data-preview-text {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    font-family: Calibri;
    font-size: 4vh;
}
.usage-help {
    left: 0;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    font-family: Calibri;
    font-size: 3vh;
}

.scan-button-container {
    position: fixed;
    left: 50%;
    bottom: -4%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.add-button-container {
    position: fixed;
    left: 30%;
    bottom: -2%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.scan-button {
    display: flex;
    align-items: center;
    width: 15vh;
    height: 15vh;
    max-height: 20vw;
    max-width: 20vw;

    background: transparent url('/static/icons/scan-button.png') no-repeat top left;
    /* Center and scale the image nicely */
    background-size: cover;
    border-radius: 50%;
    border: black 0.6vh solid;
}

.add-button {
    display: flex;
    align-items: center;
    width: 10vh;
    height: 10vh;
    max-height: 15vw;
    max-width: 15vw;

    background: black url('/static/icons/create-button.png') no-repeat top left;
    /* Center and scale the image nicely */
    background-size: cover;
    border-radius: 50%;
    border: #FFCC00 0.6vh solid;
}

.button-description {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    display: inline-block;
    color: black;
    font-family: Calibri;
    font-weight: bold;
    font-size: 200%;
}